
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

    <title>Medulina Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/dashboard.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">


  </head>

  <body>
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-blue">
      <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img class="navbar-brand" src="https://cdn.rawgit.com/Shotgunosine/medulina_icon/b26e8ab5/icon_white.png" width="25px">
      </a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Tile <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/subjects">Subjects</a>
          </li>
        </ul>
        <!--<form class="form-inline mt-2 mt-md-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
        </form>-->
      </div>
    </nav>

    <div class="main" id="main">

      <section id="subjects_table">
        <h2>
          Create Tiles
        </h2>

        <p> <small> Upload your files that you want to tile </small> </p>

        <upload-form></upload-form>


        <div class="uploadtable">
          <h2>
            Tiled Subjects
          </h2>

          <p> <small> The subjects that you've already tiled</small> </p>

          <form id="search">
            Search <input name="query" v-model="search">
          </form>
          <demo-grid
            :data="subjects"
            :columns="columns"
            :filter-key="search">
          </demo-grid>
        </div>

      </section>

    </div>



    <script type="text/x-template" id="grid-template">

      <table>
        <thead>
          <tr>
            <th v-for="key in columns"
              @click="sortBy(key)"
              :class="{ active: sortKey == key }">
              {{ key | capitalize }}
              <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
              </span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="entry in filteredData">
            <td v-for="key in columns">
              {{entry[key]}}
            </td>
          </tr>
        </tbody>
      </table>
    </script>

    <script type="text/x-template" id="uploadForm">

      <form class="form-control" id="upload_form"
        enctype = "multipart/form-data">
        1) Select nifti image file
        <input class="form-control" type = "file" name = "image_file" />
        <br>

        2) Select nifti mask file ("ground truth")
        <input class="form-control" type = "file" name = "mask_file" />
        <br>
        3) Select slice orientation
        <div class="form-inline">

        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name = "slice_direction" value = "ax" checked> Axial
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name = "slice_direction" value = "cor"> Coronal
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name = "slice_direction" value = "sag"> Sagittal
          </label>
        </div>

        </div>
        <br>
        4) Enter subject ID
        <input class="form-inline" type = "text" name = "patient_id" placeholder = "subject_id">
        <br>
        5) Select minimum # voxels to visualize
        <input class="form-inline" type = "number" name = "min_Nvox" min = 1 max = 1000 value = 100>
        <br>
        <button class="btn btn-primary form-control bright" id="submitUpload"> Submit </button>
      </form>

    </script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>-->
    <script src="js/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->

    <script src="js/vue.min.js"></script>
    <script src="js/qs.min.js"></script>

    <script src="js/myscripts.js"></script>



  </body>
</html>
